<div style="text-align: center;">
<span style="color:#FF0000;font-size:50pt" > &cross; </span>
</div>
<!-- Имплементира страницата със съдържанието на прозореца за грешка. -->
<p>Въведени са невалидни данни!</p>

