@inherits LayoutComponentBase

<PageTitle>CarRacers</PageTitle>

<div class="page">
    <div style="background: rgb(84,14,153);background: linear-gradient(173deg, rgba(84,14,153,1) 0%, rgba(0,39,255,1) 100%);" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
